<h2>List of Activities</h2>
{{#each activities}}
    <section class="activity-summary"></section>
        <p>
            title: {{this.title}} <br />
            category: {{this.category}} <br />
            description:{{this.description}} <br />
        </p>  

       

  <form action="/activities/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>

<hr />
    
{{/each}}