<div class="container text-center">
    <h2 class="font-weight-bold">List of Activities</h2>
    <hr />
    <div class="row">
        {{#each activities}}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <section class="activity-summary">
                <p class="font-weight-bold h4">
                    {{title}} <br />
                </p>
                <div id="actlist">
                    <img src="{{this.imageUrl}}" alt="" width="400" height="400">
                </div>
                <form action="/activities/{{_id}}">
                    <button class="btn btn-primary">Details</button>
                </form>
            </section>
            <hr />
        </div>
        {{/each}}
    </div>
</div>