<h2>List of Activities</h2>
{{#each activities}}
<section class="activity-summary"></section>
<p>
    title: {{title}} <br />
</p>

<form action="/activities/{{_id}}">
    <button>Details</button>
</form>



<hr />

{{/each}}