<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Create an Activity</h1>
      <form method="POST" action="/activities/create" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="form-group">
          <label for="category">Category:</label>
          <select id="category" class="form-control" name="category" required>
            <option value="museum">Museum</option>
            <option value="experience">Experience</option>
            <option value="food">Food</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label for="price">Price (€):</label>
          <input type="number" class="form-control" id="price" name="price" min="1" step="0.1" required>
        </div>

        <div class="form-group">
          <label for="review">Review (1-5):</label>
          <input type="number" class="form-control" id="review" name="review" min="1" max="5" step="0.1" required>
        </div>

        <div class="form-group">
          <label for="tips">Tips:</label>
          <input type="text" class="form-control" id="tips" name="tips" required>
        </div>

        <div class="form-group">
          <label for="image">Upload Image:</label>
          <input type="file" class="form-control-file" id="image" name="image" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary btn-block">Create</button>
      </form>
    </div>
  </div>
</div>