


<h1>
    
    {{this.title}}
    
    
    </h1>

   <img src="{{this.imageUrl}}" alt="">
    <h3>category:</h3> 
    <p>{{this.category}}</p> 

    <h3>description:</h3> 
    <p>{{this.description}}</p>

   
<a href="/activities">Back</a>
