<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/activities/64f7b80138fe16d1e72cd5aa?"> <img src="../images/1.jpg" class="d-block w-100"
                alt="Imagem 1">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5ab?"> <img src="../images/2.jpeg" class="d-block w-100"
                alt="Imagem 2">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5ac?"> <img src="../images/3.webp" class="d-block w-100"
                alt="Imagem 3">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/activities/64f7b80138fe16d1e72cd5ae?"> <img src="../images/4.jpg" class="d-block w-100"
                alt="Imagem 4">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5af?"> <img src="../images/5.jpg" class="d-block w-100"
                alt="Imagem 5">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5ad?"> <img src="../images/6.jpg" class="d-block w-100"
                alt="Imagem 6">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/activities/64f7b80138fe16d1e72cd5b0?"> <img src="../images/7.jpg" class="d-block w-100"
                alt="Imagem 7">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5b1?"> <img src="../images/8.png" class="d-block w-100"
                alt="Imagem 8">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/activities/64f7b80138fe16d1e72cd5b2?"> <img src="../images/9 .jpg" class="d-block w-100"
                alt="Imagem 9">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>