<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <a href=""></a>  <img src="../images/1.jpg" class="d-block w-100" alt="Imagem 1">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a>  <img src="../images/2.jpg" class="d-block w-100" alt="Imagem 2">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a>  <img src="../images/3.jpg" class="d-block w-100" alt="Imagem 3">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                       <a href=""></a> <img src="../images/4.jpg" class="d-block w-100" alt="Imagem 4">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a>  <img src="../images/5.jpg" class="d-block w-100" alt="Imagem 5">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a> <img src="../images/6.jpg" class="d-block w-100" alt="Imagem 6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <a href=""></a>  <img src="../images/7.jpg" class="d-block w-100" alt="Imagem 7">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a>  <img src="../images/8.png" class="d-block w-100" alt="Imagem 8">
                    </div>
                    <div class="carousel-item">
                      <a href=""></a>  <img src="../images/9.jpg" class="d-block w-100" alt="Imagem 9">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>